<% content_for :title, "Add a plant to your garden - Garner" %>

<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li><%= link_to "Dashboard", plants_path %></li>
      <li><%= link_to "Calendar", calendar_plants_path, "data-skip-pjax" => true %></li>
      <li class="active"><%= link_to 'Add a plant', new_plant_path, :class => "add-new-plant" %></li>
      <li class="nav-header">Still Growing</li>
      <% @growing.each do |plant| %>
        <li><%= link_to plant.human_name, plant %></li>
      <%- end -%>
      <li class="nav-header">Ready for Harvest</li>
      <% @harvested.each do |plant| %>
        <li><%= link_to plant.human_name, plant%></li>
      <%- end -%>
      <li class="nav-header">Need More Info</li>
      <% @in_progress.each do |plant| %>
        <li><%= link_to plant.human_name, plant%></li>
      <%- end -%>
    </ul>
  </div><!--/.well -->
</div><!--/span-->

<div class="span9">
  <h1>Add a plant</h1>

  <%= form_for @plant, :html => {:class => "form-horizontal"} do |f| %>
  <fieldset class="width2">

    <div class="control-group">
      <%= f.label :name, "Plant name", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :name %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :planted_at, "When was this planted?", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :planted_at, :class => "datepicker" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :harvest_time, :class => "control-label" %>
      <div class="controls">
        <div class="input-append">
          <%= f.text_field :harvest_time, :class => "input-mini" %>
          <span class="add-on">days</span>          
        </div>
      </div>
    </div>

    <div class="form-actions">  
      <%= f.submit "Save", :class => "btn btn-primary" %>
      <%= link_to 'Cancel', plants_path, :class => "btn"%>
    </div>
  </fieldset>
  <% end %>
</div>