<% content_for :title, @plant ? @plant.name : "Garner" %>

<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li><%= link_to "Dashboard", root_path %></li>
      <li><%= link_to "Calendar", calendar_plants_path %></li>
      <li class="nav-header">Still Growing</li>
      <% @growing.each do |plant| %>
        <li class="<%= 'active' if plant == @plant %>"><%= link_to plant.name.humanize, plant %></li>
      <%- end -%>
      <li class="nav-header">Ready for Harvest</li>
      <% @harvested.each do |plant| %>
        <li class="<%= 'active' if plant == @plant %>"><%= link_to plant.name.humanize, plant%></li>
      <%- end -%>
    </ul>
  </div><!--/.well -->
</div><!--/span-->

<div class="span9">
  <h1><%= @plant.name %></h1>

  <p>planted: <%= @plant.planted_at.strftime('%A, %B %d, %Y') %></p>

  <p>harvest around: <%= @plant.harvest_at.strftime('%A, %B %d, %Y') %></p>
</div>