<% content_for :title, @plant ? "#{@plant.human_name} - Garner" : "Garner" %>

<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li><%= link_to "Dashboard", root_path %></li>
      <li><%= link_to "Calendar", calendar_plants_path %></li>
      <li><%= link_to 'Add a plant', new_plant_path, :class => "add-new-plant" %></li>
      <li class="nav-header">Still Growing</li>
      <% @growing.each do |plant| %>
        <li class="<%= 'active' if plant == @plant %>"><%= link_to plant.human_name, plant %></li>
      <%- end -%>
      <li class="nav-header">Ready for Harvest</li>
      <% @harvested.each do |plant| %>
        <li class="<%= 'active' if plant == @plant %>"><%= link_to plant.human_name, plant%></li>
      <%- end -%>
    </ul>
  </div><!--/.well -->
</div><!--/span-->

<div class="span9 plant">
  <h1><%= @plant.human_name %></h1>

  <p><%= @plant.human_name %> will reach maturity in <%= time_ago_in_words(@plant.harvest_at) %>, on <em><%= @plant.harvest_at.strftime('%A, %B %d, %Y') %></em>.</p>
  
  <p><%= @plant.human_name.last == 's' ? 'They' : 'It' %> <%= @plant.human_name.last == 's' ? 'were' : 'was' %> planted <em><%= @plant.planted_at.strftime('%A, %B %d, %Y') %></em>.</p>

  <div class="actions">
    <%= link_to "Edit", edit_plant_path(@plant), :class => "btn" %>
    <%= link_to "Delete", @plant, :class => "btn btn-danger pull-right", :method => :delete %>
  </div>
</div>