<!DOCTYPE html>
<html>
<head>
  <title>Garner</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <h1>Track when your crops should be ready for harvest</h1>
  </header>

  <nav>
    <%= link_to 'Home', root_path %>
  </nav>

  <%= yield %>

</body>
</html>
